.top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F4F7;
    width: max-content;
    padding: 15px;
    border-radius: 20px;
    box-shadow:
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.icon-parent {
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.login-icon {
    width: 30px;


}

.container {
    background: linear-gradient(
        to bottom,
        rgba(178, 104, 249, 1) 0%,
        rgba(178, 104, 249, 0.6) 6%,
        rgba(178, 104, 249, 0.2) 10%,
        #FFFFFF 14%,
        #FFFFFF 100%
      );
    height: 89dvh;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow:
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -4px rgba(0, 0, 0, 0.1);
        transform-style: preserve-3d; 
        transition: transform 0.3s ease, box-shadow 0.3s ease;


}
.container:hover{
    transform: scale(1.01) translateY(-2px); 

}

.email-input {
    border: none;
    outline: none;
    background-color: #EFF3F6;
}

.Email-section {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #EFF3F6;
    padding: 8px;
    width: 100%;
    border-radius: 10px;
}

.header-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.emailAndPassword {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.startbtn-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.GetStartBtn {
    width: 100%;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

.google-icon {
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 8px;
    box-shadow:
        0px 5px 8px 3px rgba(0, 0, 0, 0.1),
        0px 0px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.forgetpass:hover{
    text-decoration: underline;
    cursor: pointer;
}
