body {
    background-color: #B268F9 !important;
}

.userInfo {
    background-color: #9400d3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 60%;
}


.Error-div {
    display: none;
    color: red;
}

.containers {
    display: flex !important;
    justify-content: space-around !important;

}

.main-input {
    padding: 6px !important;
    border-radius: 5px !important;
    border: 1px solid #F0F0F0 !important;
    width: 200px !important;
}

.UserEmail {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.main-input::placeholder {
    padding-left: 5px;
}

.main-input:focus {
    outline-color: lightgray !important;
}

.Time-Section {}

.time-input {
    border: 1px solid #F2F2F2 !important;
    height: 2rem !important;
    border-radius: 5px;
    padding: 16px;
}

.Main-form {
    display: flex !important;
    justify-content: space-between;
    gap: 30px;
    align-items: last baseline !important;
    flex-wrap: wrap;
}

.add-btn {
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #815CF2;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.login-btn{
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #815CF2;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.open-btn {
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #815CF2;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.top-section {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 50px;
    display: flex;
    gap: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    border-radius: 8px;

    /* width: 673px; */
    flex-wrap: wrap;
}

.top-section:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.bottom-section {
    margin-top: 40px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    border-radius: 8px;
    width: 673px;


}


.Planit-logo {
    font-family: "font-family: " Plus Jakarta Sans", sans-serif;";
    font-weight: 700;
    background: linear-gradient(to right, #4b0082, #9400d3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: x-large;
}

.removing-cards {
    display: flex;
    justify-content: space-between;
}

.bottom-section:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.trash-div {
    background-color: #815CF2;
    padding: 7px;
    width: 40px;
    border-radius: 5px;
    justify-content: flex-end;
}

.bottom-card-inneritems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid lightgray; */
    padding-bottom: 8px;
    margin-top: 14px;
}

.Text-span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}


#modal-signup {
    /* display: flex; */
    justify-content: center;
    height: fit-content;
    position: absolute;
    top: 20%;
    
}

.checkboxes {
    position: relative !important;
    opacity: 1 !important;
    pointer-events: fill !important;
}



.open-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    width: 250px;
    box-shadow: none !important;
    background-color: transparent !important;
    max-height: 100%;
}


.modal-content {
    background-color: #fefefe;
    border-radius: 8px;
    width: 300px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content label {
    display: block;
    margin: 10px 0 5px;
}

.modal-content select,
.modal-content input {
    width: 200px;
    padding: 8px;
    margin-bottom: 15px;
}

.timing-and-work {
    width: max-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-icon {
    background-color: #815CF2;
    padding: 7px;
    /* margin-right: -29px; */
    width: 40px;
    border-radius: 5px;
    justify-content: flex-end;
}

.submit-btn {
    width: 200px;
    padding: 10px;
    background-color: #815CF2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F4F7;
    width: max-content;
    padding: 15px;
    border-radius: 20px;
    box-shadow:
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.icon-parent {
    display: flex;
    justify-content: center;

}

.login-icon {
    width: 30px;

}

.email-input {
    border: none;
    outline: none;
    background-color: #EFF3F6;
}

.Email-section {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #EFF3F6;
    padding: 8px;
    width: 100%;
    border-radius: 10px;
}

.header-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.emailAndPassword {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.startbtn-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.GetStartBtn {
    width: 100%;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

.pro-img {
    width: 50px;
    border-radius: 50%;
}

.google-icon {
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 8px;
    box-shadow:
        0px 5px 8px 3px rgba(0, 0, 0, 0.1),
        0px 0px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.forgetpass:hover {
    text-decoration: underline;
    cursor: pointer;
}

.right {
    float: none !important;
}


.Main-Icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.modal-message {
    display: none;
    position: absolute;
    width: 250px;
    box-shadow: none !important;
    background-color: transparent !important;
    max-height: 100%;

}

.modal-contents {
    background-color: white !important;
    height: 400px;
    width: 300px;
    display: flex;
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    right: 5px;
    top: 100px;
    display: flex;
    flex-direction: column;
}

.Add-Chat-name {
    padding: 5px;
    background-color: #B268F9;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}


.Send-icon {
    background-color: #815CF2;
    border-radius: 10px;
    padding: 5px;
    color: white;
    height: 2.2rem;
}

.Showmessages {
    display: flex;
    justify-content: flex-end;
}

.logged-in {
    background-color: #B268F9;
    padding: 10px;
    border-radius: 8px;
    color: white !important;
    cursor: pointer;
}

.logged-out {
    background-color: #B268F9;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: white;

}

.modal-trigger {
    font-weight: 600;
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 600px) {

    .top-section {
        width: 500px;
        flex-wrap: wrap;
    }

    .cartoon-img {
        display: none;
    }

    .userdiv {
        display: none;
    }
}

@media screen and (max-width: 400px) {


    .top-section {
        width: 350px;
        flex-wrap: wrap;
    }

    .cartoon-img {
        display: none;
    }

    .userdiv {
        display: none;
    }

    .right {
        display: none;
    }
}

@media screen and (min-width: 1200px) {

    .top-section {
        width: 673px;
        flex-wrap: wrap;
    }
}