body {
    background-color: #B268F9;
}

.container {
    display: flex;
    justify-content: center;
    /* gap: 40px; */
    flex-direction: column;
    align-items: center;
        left: 15%;
    position: absolute;
}

.main-input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #F0F0F0;
    width: 200px;
}

.main-input:focus {
    outline-color: lightgray;
}

.Main-form {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.add-btn {
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #815CF2;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.open-btn {
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #815CF2;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.top-section {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 50px;
    display: flex;
    gap: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    border-radius: 8px;
    width: 620px;
}

.top-section:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.bottom-section {
    margin-top: 40px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    border-radius: 8px;
    width: 620px;


}

.Planit-logo {
    font-family: "font-family: " Plus Jakarta Sans", sans-serif;";
    font-weight: 700;
    background: linear-gradient(to right, #4b0082, #9400d3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: x-large;
}

.removing-cards {
    display: flex;
    justify-content: space-between;
}

.bottom-section:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.trash-div {
    background-color: #815CF2;
    padding: 7px;
    width: 40px;
    border-radius: 5px;
    justify-content: flex-end;
}

.bottom-card-inneritems {
    display: flex;
    /* gap: 270px; */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
    /* margin-top: 14px; */
}

.Text-span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}








.open-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    width: 250px;
    box-shadow: none !important;
    background-color:transparent !important;
    max-height: 100%;
}
#modal-signup{
    background-color: white;
    max-height: 100%;
    width: 100%;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    width: 250px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 66%;
    top: 10%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content label {
    display: block;
    margin: 10px 0 5px;
}

.modal-content select,
.modal-content input {
    width: 200px;
    padding: 8px;
    margin-bottom: 15px;
}

.timing-and-work {
    width: max-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-icon {
    background-color: #815CF2;
    padding: 7px;
    width: 40px;
    border-radius: 5px;
    justify-content: flex-end;
}

.submit-btn {
    width: 200px;
    padding: 10px;
    background-color: #815CF2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F4F7;
    width: max-content;
    padding: 15px;
    border-radius: 20px;
    box-shadow:
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.icon-parent {
    display: flex;
    justify-content: center;

}

.login-icon {
    width: 30px;

}

.email-input {
    border: none;
    outline: none;
    background-color: #EFF3F6;
}

.Email-section {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #EFF3F6;
    padding: 8px;
    width: 100%;
    border-radius: 10px;
}

.header-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.emailAndPassword {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.startbtn-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.GetStartBtn {
    width: 100%;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

.google-icon {
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 8px;
    box-shadow:
        0px 5px 8px 3px rgba(0, 0, 0, 0.1),
        0px 0px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.forgetpass:hover {
    text-decoration: underline;
    cursor: pointer;
}

.right {
    float: none !important;
}