body {
    background-color: #B268F9;
}

.container {
    display: flex;
    justify-content: center;
    /* gap: 40px; */
    flex-direction: column;
    align-items: center;
    top: 10%;
    left: 5%;
    position: absolute;
}

.main-input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #F0F0F0;
    width: 200px;
}

.main-input:focus {
    outline-color: lightgray;
}
.Main-form{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.add-btn {
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #815CF2;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.open-btn{
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #815CF2;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.top-section {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 50px;
    display: flex;
    gap: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    border-radius: 8px;
    width: 620px;
}

.top-section:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.bottom-section {
    margin-top: 40px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    border-radius: 8px;
    width: 620px;


}

.removing-cards {
    display: flex;
    justify-content: space-between;
}

.bottom-section:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.trash-div {
    background-color: #815CF2;
    padding: 7px;
    width: 40px;
    border-radius: 5px;
    justify-content: flex-end;
}

.bottom-card-inneritems {
    display: flex;
    /* gap: 270px; */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
    /* margin-top: 14px; */
}

.Text-span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}








.open-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    width: 200px;

}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    width: 250px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 66%;
    top: 10%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content label {
    display: block;
    margin: 10px 0 5px;
}

.modal-content select,
.modal-content input {
    width:200px;
    padding: 8px;
    margin-bottom: 15px;
}
.timing-and-work{
    width: max-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.edit-icon{
    background-color: #815CF2;
    padding: 7px;
    width: 40px;
    border-radius: 5px;
    justify-content: flex-end;
}
.submit-btn {
    width: 200px;
    padding: 10px;
    background-color: #815CF2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}